* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Copperplate Gothic', 'Open Sans', 'sans-serif';
}

#logo-area > img {
    max-width:350px;
    max-height:290px;
}

#menu img {
    padding: 0 0 0 15em;
}

main {
    width: 100%;
    position: relative;
}

#botoes-do-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

.section-container {
    margin: 0 auto;
    max-width: 1366px;
}

section {
    text-align: center;
}

section h2 {
    padding: 20px 0;
}

#logo-area {
    background-image: url(../img/bg_pic_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 10em;
}

#quem-somos {
    background-color: #7d0093d5;
    font-size: 300%;
    color: #ffc600;
    font-weight: bold;  
}

#local {
    background-color: #ffc800ce;
    font-size: 300%;
    color: #7d0093d5;
    font-weight: bold; 
}

#galeria {
    background-color: #7d0093d5;
    font-size: 300%;
    color: #ffc800ce;
    font-weight: bold;
}

footer {
    margin-block-end: auto;
    background-color: #ffc800ce;
    color: #000;
    font-weight: bold;
}

.flex-container {
    background-image: url(../img/bg_pic_1.jpg);
    background-size: cover;
    font-family: 'Copperplate Gothic', 'Open Sans', 'sans-serif';
    background-repeat: no-repeat;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    height: 2.5em;
    align-items: center;
}

nav a:hover {
    background-color: #ffc600;
    color: #a800c6;
    box-shadow: 0 2px #ffd133;
    font-weight: bold;
}

nav ul > li > a {
    color: #ffc600;
    text-decoration: none;
}

#botoes-do-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

nav {
    width: 100%;
    background-color: #7d0093;
    height: 60px;
} 

.ImagemInicio {
    max-width: 100%;
    width: 600px;
    height: 400px;
}


table{
    background-color: rgba(255, 255, 255, 0.411);
}

.BotaoCriar{
    padding:1em;
    background-color: #7d0093;
    color: #ffc600;
    border: none;
}