* {
    margin: 0;
    padding: 0;
}

.login {
    width: 320px;
    height: 420px;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0,0,5,0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}

.usuario {
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 112px;   
}

h1 {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px; 
}

.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.login input {
    width: 100%;
    margin-bottom: 21px;
}

.login input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc600;
    transition: 0.2s;
}

.login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #4b4b4b;
    transition: 0.2ms;
}

.login a:hover {
    transition: 0.2s;
    color: #ffc600;
}

nav {
    width: 100%;
    background-color: #7d0093;
    height: 60px;
} 

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    height: 2.5em;
    align-items: center;
    
}

#botoes-do-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

.section-container {
    margin: 0 auto;
    max-width: 1366px;
}

nav menu li {
    display: inline-flex;
}

nav a:hover {
    background-color: #ffc600;
    color: #a800c6;
    box-shadow: 0 2px #ffd133;
    font-weight: bold;
}

nav ul > li > a {
    padding: 10px 20px;
    display: inline-block;
    color: #ffc600;
    text-decoration: none;
}

footer {
    background-color: #ffc800ce;
    color: #000;
    font-weight: bold;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.section-container {
    margin: 0 auto;
    max-width: 1366px;
}

section {
    text-align: center;
}

.cadastro {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.table {
	width:100%;
	border:1px solid $color-form-highlight;
}

.table-header {
	display:flex;
	width:100%;
	background:#000;
	padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:($half-spacing-unit * 1.5) 0;
	
	&:nth-of-type(odd) {
		background:$color-form-highlight;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;
	
	&::after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}
	
	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}
	
}